body {
    text-align: center;
    background-color: antiquewhite;
}

.box img{
    width: 200px;
    height: 200px;
}

.box{
    text-align: left;
    overflow: hidden;
}

img {
    border-radius: 50%;
}